body
{
    background-image:url(images/Mountain.jpg);
    background-blend-mode:normal;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-attachment:scroll, 1;
    background-size: 100% 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    font-family:'Courier New', Courier, monospace;
}
  
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */

}
h1{
    font-size:large;
}
.link
{
    font-weight: bolder;
    color:hsl(0, 0%, 100%);
    font-size: 20px;
    text-align:right;   
    padding-right: 1%;
	text-align:center;
}
.link2
{
    font-weight: bolder;
    color:hsl(0, 0%, 100%);
    font-size: 20px;
    text-align:right;   
    padding-right: 1%;
	text-align:center;
}
/*When the mouse hovers above the link there will be a background colour change around it and the text colour will change*/

.text
{
    clear: both;
    text-align: center;
    color:hsl(0, 0%, 100%);
    font-size: 20px;
    cursor: pointer;
}
.text-info
{
    clear: both;
    text-align: center;
    color:hsl(0, 0%, 100%);
    font-size: 20px;
}

.header
{
    background-color:rgba(0, 0, 0, 0.473);
    text-align: center;
    font-size: 30px;
    font-weight:bolder;
    padding: 0.2em;
    color:hsl(0, 0%, 100%);
    border: 3px solid hsl(58, 100%, 50%)2;
    align-content: center;
    border-radius: 0.5em;
}
.boxlink
{
    background-color:rgba(0, 0, 0, 0.473);
    background-repeat: no-repeat;
    border: 3px solid hsl(0, 0%, 100%);
    align-content: center;
    background-size: 100% 100%;
    border-radius: 0.5em;
    margin: 20px;    
}
.boxlink2
{
    background-color:rgba(0, 0, 0, 0.473);
    background-repeat: no-repeat;
    border: 3px solid hsl(0, 0%, 100%);
    align-content: center;
    background-size: 100% 100%;
    border-radius: 0.5em; 
}
#scroll{
    animation: scroll infinite 30s;
    color: yellow;
    text-align: center;
    animation-name: scroll;
    margin-left: auto;
    margin-right: auto;
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

span{
    color: white;
}

span:hover{
    color: blue;
}

/* For Mobile */
@media (max-width: 540px) {
    .view {
        width: 400px;
        margin-left: 50%;
        margin-right: 50%;
    }
}

/* For Tablets */
@media (min-width: 540px) and (max-width: 780px) {
    .view {
        width: 600px;
        margin-left: 50%;
        margin-right: 50%;
    }
}
/* For Mobile */
@media (max-width: 400px) {
    .view {
        width: 360px;
        margin-left: 50%;
        margin-right: 50%;
    }
}