vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Feb 2022 04:46:54 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|DESKTOP-C98F1BE\\Dante Lespoir
vti_modifiedby:SR|DESKTOP-MJ3SE03\\DANLESPOIR
vti_timecreated:TR|21 Aug 2021 16:26:33 -0000
vti_backlinkinfo:VX|gallery.html Cheat_sheet.html index.html
vti_nexttolasttimemodified:TW|24 Feb 2022 04:46:27 -0000
vti_cacheddtm:TX|24 Feb 2022 04:46:54 -0000
vti_filesize:IR|3449
vti_cachedlinkinfo:VX|S|images/Mountain.jpg
vti_cachedsvcrellinks:VX|FSUS|images/Mountain.jpg
